@font-face {
  font-family: "iconfont"; /* Project id 5198821 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1782208093210') format('woff2'),
       url('iconfont.woff?t=1782208093210') format('woff'),
       url('iconfont.ttf?t=1782208093210') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anzhuo:before {
  content: "\e610";
}

.icon-logo:before {
  content: "\e612";
}

.icon-a-yemian11:before {
  content: "\e60d";
}

.icon-kuakewangpan:before {
  content: "\e6ba";
}

.icon-ruanjian:before {
  content: "\e65b";
}

.icon-zaixiangongju:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\fc7b";
}

.icon-kaisu:before {
  content: "\e60f";
}

.icon-youku:before {
  content: "\e609";
}

.icon-A:before {
  content: "\e611";
}

.icon-mangguoTV:before {
  content: "\ea93";
}

.icon-doubanwang:before {
  content: "\eb78";
}

.icon-zhihu:before {
  content: "\eb80";
}

.icon-mail163:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e623";
}

.icon-taobao:before {
  content: "\eb7e";
}

.icon-kugou:before {
  content: "\e631";
}

.icon-tengxunshipin:before {
  content: "\e62b";
}

.icon-xiecheng:before {
  content: "\e6c5";
}

.icon-ps:before {
  content: "\e6c3";
}

.icon-Ai:before {
  content: "\e6c2";
}

.icon-ximalaya:before {
  content: "\e60b";
}

.icon-weipinhui:before {
  content: "\e60c";
}

.icon-diqiu:before {
  content: "\e60e";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-M:before {
  content: "\e601";
}

.icon-iqiyi:before {
  content: "\e604";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-jingdong:before {
  content: "\e716";
}

.icon-zhaogonghezi:before {
  content: "\e877";
}

.icon-douyin:before {
  content: "\e602";
}

.icon-kuaishou:before {
  content: "\e603";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-cloud_dns:before {
  content: "\e605";
}

.icon-xiaohongshu:before {
  content: "\eb79";
}

.icon-QQyinle:before {
  content: "\eb7d";
}

.icon-dongchedi:before {
  content: "\e607";
}

.icon-Appicns_12306:before {
  content: "\e6cb";
}

.icon-a-shezhipeizhichilun:before {
  content: "\e6f0";
}

.icon-dns-hei:before {
  content: "\e700";
}

