@font-face {
  font-family: "iconfont"; /* Project id 5198821 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1782109908696') format('woff2'),
       url('iconfont.woff?t=1782109908696') format('woff'),
       url('iconfont.ttf?t=1782109908696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kugou:before {
  content: "\e631";
}

.icon-tengxunshipin:before {
  content: "\e62b";
}

.icon-xiecheng:before {
  content: "\e6c5";
}

.icon-ps:before {
  content: "\e6c3";
}

.icon-Ai:before {
  content: "\e6c2";
}

.icon-ditu_diqiu_o:before {
  content: "\ebbb";
}

.icon-ximalaya:before {
  content: "\e60b";
}

.icon-cctv:before {
  content: "\e60a";
}

.icon-weipinhui:before {
  content: "\e60c";
}

.icon-diqiu:before {
  content: "\e60e";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-DigitalOS-logo:before {
  content: "\e600";
}

.icon-M:before {
  content: "\e601";
}

.icon-shejiaotubiao-44:before {
  content: "\e648";
}

.icon-iqiyi:before {
  content: "\e604";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-kstore:before {
  content: "\e666";
}

.icon-kuaidi100:before {
  content: "\e61e";
}

.icon-jingdong:before {
  content: "\e716";
}

.icon-cloudflare:before {
  content: "\e7be";
}

.icon-zhaogonghezi:before {
  content: "\e877";
}

.icon-douyin:before {
  content: "\e602";
}

.icon-kuaishou:before {
  content: "\e603";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-diqiu1:before {
  content: "\e6e4";
}

.icon-cloud_dns:before {
  content: "\e605";
}

.icon-weixin:before {
  content: "\eb73";
}

.icon-xiaohongshu:before {
  content: "\eb79";
}

.icon-QQyinle:before {
  content: "\eb7d";
}

.icon-dongchedi:before {
  content: "\e607";
}

.icon-Appicns_12306:before {
  content: "\e6cb";
}

.icon-a-shezhipeizhichilun:before {
  content: "\e6f0";
}

.icon-GITEE:before {
  content: "\e608";
}

.icon-dns-hei:before {
  content: "\e700";
}

.icon-kuake:before {
  content: "\e62d";
}

